* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo */
body {
  font-family: Arial, sans-serif;
  background-color: #000000f5;
  color: #fff;
}

/* Cabeçalho */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
   background: #000000;
   background: linear-gradient(288deg, rgba(0, 0, 0, 1) 0%, rgb(75, 0, 130) 86%, rgb(75, 0, 130) 89%);
  padding: 10px;
  position: sticky;
  border-radius: 0PX 10PX 0PX 10PX;
  top: 0;
  z-index: 10;
  position: fixed;
  left: 0;
  width: 100%;
}

.logo {
    display: flex;
    justify-content: space-between;

  color: #ff7e42;
  font-weight: bold;
}

.header img{
  width: 95px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.link{
    border: solid #87ba41 1.5px;
    padding: 10px;
    border-radius: 5px;
}
.link-cadastro{
    border:solid #ff7f42 1.5px;
    padding: 10px 20px;
    border-radius: 5px;
}
.nav-links a {
    font-weight: bold;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.link-inicio{
    border: solid #87ba41 1.5px;
    padding: 10px;
    border-radius: 5px;
    background-color:#87ba41 ;

}

.nav-links a:hover {
  color: #ff7f42;
}
.link-cadastro a:hover {
  color: #87ba41;
}
.banner {
 position: relative;
    background-image: url('telefone.jpg'); /* 👈 Caminho da sua foto */
     background-size: cover;
     background-position: center 30%;
    padding-left: 20px;

  height: 500px;
  display: flex;
  align-items: center;
  padding: 20px 40px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
background: linear-gradient(78deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 9%, rgba(0, 0, 0, 1) 17%, rgba(135, 186, 65, 0) 69%);
}

.banner-content {
  max-width: 550px;

}

.banner-content h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.banner-content p {
  margin-bottom: 20px;
}

.banner-content button {
  padding: 10px 30px;
  font-size: 18px;
  background-color: #FF7F42;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
   margin-top: 010rem;
}

.banner-content button:hover {
  background-color: #87ba41;
}

.texto {

  position: relative;
  z-index: 2;
  max-width: 70%;
}

/* Catálogo */
.catalogo {

  padding: 10px 10px;
}

.catalogo h2 {
  margin-bottom: 30px;
}

.filmes {
  display: flex;
  gap: 30px;
  overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.filmes::-webkit-scrollbar {
    height: 7px;
}

.filmes::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}

.filmes:hover::-webkit-scrollbar-thumb {
    background: rgb(91, 0, 128);
}

.filmes::-webkit-scrollbar-track {
    background: transparent;
}

.filme img {
  width: 200px;
  height: 280px;
  border-radius: 4px;
  transition: transform 0.3s;
  cursor: pointer;
    border: solid #e48b4c 2px;
    box-shadow:
            0 0 10px #e48b4c,
            0 0 10px #e48b4c inset;
}

.filme img:hover {
  transform: scale(1.05);
}

.carousel {

  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  display: flex;                        /* coloca as imagens lado a lado */
  transition: transform 0.6s ease;      /* animação suave na troca */
  gap: 25px;
  padding: 25px;
}

.slides img {
  width: 250px;                         /* mesmo tamanho do container */
  height: 320px;
  object-fit: cover;                    /* ajusta o corte da imagem */
  border-radius: 7px;
  border: solid #FFFFFF 3px;
  box-shadow:
    0 0 20px #87ba41,
    0 0 20px #87ba41 inset,
    0 0 20px #87ba41 inset;
  border-radius: 10px;
}

/* Botões */
button {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);          /* centraliza verticalmente */
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  z-index: 10;
  cursor: pointer;
  width: 80px;
  height: 90px;
  opacity: 0.8;
  
}

.prev:hover, .next:hover {
  opacity: 100;
}

.prev { 
  left: 0;
 }                   
.next {
  right: 0;
}


/*traillers*/

/* ==== MODAL DO FILME ==== */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #111;
    color: #fff;
    border: 2px solid #e48b4c;
    box-shadow: 0 0 20px #e48b4c;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    width: 70%;
    max-width: 900px;
}

.modal-content img {
    width: 250px;
    border-radius: 10px;
    border: solid 2px #e48b4c;
}

.modal-info {
    flex: 1;
}

.modal-info button {
    background: #ff7f42;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal-info button:hover {
    background: #87ba41;
}

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

#modal-sinopse {
    white-space: pre-line; /* permite quebra de linha com \n */
}

#modal-sinopse::after {
    content: "";
    display: block;
    margin-top: 8px;
    font-size: 0.9em;
    color: #ccc;
}



 
